body {
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Centered Login Form */
.login-form {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #e2d0c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #e2d0c0;
    color: #8b4121;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8b4121;
    border-radius: 8px;
    font-size: 16px;
    background-color: #e2d0c0;
    color: #8b4121;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #8b4121;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #ad522b;
}

.img{
    position: inherit;
    max-width: 100%;
}


/* Error Message */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

